
.Home {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url('./background.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content{
    align-content: center;
    justify-content: center;
   
  } 
  
  .title {
    display: flex;
    color: #EDF7F6;
    text-align: center;
    font-family: Mulish;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .aasta {
    color: #EDF7F6;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  } 

  .hindaja {
    color: #EDF7F6;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 20px;
  } 
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 140px;
  }
  
  .button {
    width: 361px;
    height: 126px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #DE3C4B;
    color: #EDF7F6;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .tekst1 {
    color: #EDF7F6;
    text-align: center;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px;
  } 

  hr {
    border-radius: 5px;
    background: #DE3C4B;
    height: 4px;
    flex-shrink: 0;
  } 
  .tekst2 {
    color: #EDF7F6;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
  } 