.button {
    background-color: #de3c4b;
    color: white;
    border: 1px solid #edf7f6;
    border-radius: 25px;
    padding: clamp(10px, 2vw, 15px) clamp(15px, 3vw, 25px);
    font-size: clamp(14px, 2vw, 18px);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    width: clamp(160px, 22vw, 240px);
    height: clamp(50px, 8vw, 80px);
    max-width: 300px;
    text-align: center;
    display: inline-block;
}
.button:hover {
    background-color: #f16b79;
    color: #edf7f6;
    
  }

.button-nav {
    width: clamp(100px, 25vw, 150px);
    height: clamp(60px, 10vw, 80px);
}
.button--large {
    font-size: clamp(18px, 2.5vw, 36px);
    padding: clamp(15px, 3vw, 20px) clamp(20px, 4vw, 30px);
    width: clamp(200px, 25vw, 300px);
    height: clamp(60px, 10vw, 100px);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(15px, 2vw, 25px);
}

.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(5px, 2vw, 10px);
}
.team-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  border-radius: 10px;
}

.team-button {
  width: 100%;
  max-width: 95%;
  text-align: center;
  padding: 12px;
  font-size: clamp(14px, 1.5vw, 16px);
  border-radius: 10px;
  border: 1px solid #edf7f6;
  color: #edf7f6;
  background-color: #de3c4b;
  transition: all 0.3s;
  overflow-wrap: break-word;
  cursor: pointer;
}

.team-button:hover {
  background-color: #f16b79;
  color: #edf7f6;
  
}

.team-button.active {
  background-color: #000034;
  color: rgb(255, 255, 255);
  border-color: #edf7f6;
}